spring:
 application:
   name: AuthService
 datasource:
  driver-class-name: ${DATABASE_PATH}
  url: ${DATABASE_URL}
  username: ${DATABASE_USERNAME}
  password: ${DATABASE_PASSWORD}

 main:
   allow-circular-references: true
 mail:
   host: smtp.gmail.com
   port: 587
   username: amolsanjaykalhapure2525@gmail.com
   password: xddfcargryysajcu
   protocol: smtp
   properties:
     mail:
       smtp:
         auth: true
         starttls:
           enable: true
           required: true
         connectiontimeout: 5000
         timeout: 5000
         writetimeout: 5000



 jpa:
   hibernate:
     ddl-auto: update
   show-sql: true
server:
  port: 8080

logging:
  level:
    root: TRACE


